[Unit]
Description=Namecoin Daemon Service

[Service]
WorkingDirectory=%h
ExecStart=%h/.local/bin/namecoind -debug -printtoconsole -datadir=%h/Data/Namecoin
Type=simple


[Install]
WantedBy=default.target
