[Unit]
Description=Peercoin Daemon Service

[Service]
WorkingDirectory=%h
ExecStart=%h/.local/bin/peercoind -debug -printtoconsole -datadir=%h/Data/Peercoin
Type=simple


[Install]
WantedBy=default.target
